@use '../custom' as *;

.navBAR {
  color: $White !important;

  .tri {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    top: -10.6%;
    right: 0;
    opacity: 0;
    background-color: $white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    @include media-breakpoint-down(lg) {
      opacity: 1;
    }
  }
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Barlow", sans-serif !important;
  }

  a {
    font-family: "Barlow", sans-serif !important;
    font-weight: 400;
    color: $White !important;
  }

  .button {
    font-family: "Fraunces", serif !important ;
    font-weight: 600;
    padding-top: 0.725rem !important;
    padding-bottom: 0.725rem !important;
    color: $black !important;
    border: none !important;
    @include Transition;

    &:hover {
      @include PolyMorphism;
      color: $White !important;
    }
  }

  ul {
    li {
      font-weight: 200;
      padding-left: 1.2rem !important;
      padding-right: 1.2rem !important;
    }
  }

  &-content {
    @include media-breakpoint-down(lg) {
      position: relative;
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;

      ul {
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem !important;
        li {
          margin-bottom: 1rem !important;

          a {
            color: $Grayish-blue !important;
            font-weight: 700;
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        background-color: $Yellow !important;
        width: 32%;
        position: relative;
        left: 35%;
        &:hover {
          color: $White;
          background-color: $Yellow !important;
          @include Transition;
        }
      }
    }
  }
}
